{
  'extends': '@callstack/eslint-config',
  'rules':
    {
      'global-require': 'off',
      'import/no-extraneous-dependencies':
        ['error', { 'devDependencies': true }],
      'react-native/no-raw-text': 'off',
    },
}
